:root, :host {
    --widget-color-scheme: dark light;
    --widget-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "sans-serif";
    --widget-font-size: 14px;
    --widget-font-weight: 400;
    --widget-font-line: 1.5;
    --widget-font-spacing: initial;
    --widget-font-align: initial;
    --widget-radius: .5rem;
}
